{% extends "base.html" %}
{% block title %}
RPG Doodle Clone
{% endblock %}

{% block content %}
<h1> RPG Doodle Clone </h1>

Open doodles:
{% if doodles is not defined or doodles|length <= 0 %}
    <p> Log in to see something 👀 </p>
{% endif %}

{% for doodle in doodles %}
  <div class="doodle_wrapper">
    <h3><a href="{{url_for('main.session',doodle_name=doodle.name)}}">{{ doodle.name | replace('-', ' ') }}</a></h3>
    <p> {{doodle.description}} </p>
    <p style="visibility: hidden;"> GROUPS: {{doodle.groups}} </p>
    <p class="participants_title"> Participants: </p>
    {% for a in answerers[doodle.id] %}
      <span class="answerer">{{a}} </span>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
