{% extends "base.html" %}
{% block title %}
Käyttäjät
{% endblock %}

{% block content %}
<h1> Käyttäjät </h1>
Täs ois käyttäjälista
<form class="admin_form" method="POST" action="{{ url_for('main.users')}}">
  <div id="userList">
    <ul>
      {% for user in users %}
        <li>
          <span>{{ user.name }} | </span>
          <span>Admin: {{user.admin}} | </span>
          <span>
            <input class="admin_input" name="promote-{{user.id}}" type="checkbox">
            <label for="promote-{{user.id}}">Promote</label>
            <input class="admin_input" name="delete-{{user.id}}" type="checkbox">
            <label for="delete-{{user.id}}">Poista</label>
          </span>
          <ul>
            {% for p in user.participations %}
              <li>{{p.serialize()}}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  <button type="submit"> Execute </button>
</form>
{% endblock %}
